:root {
  --bg-color-light: #FBFBFB;
  --text-color-light: #4D4D4D;
  --container-bg-light: #ffffff;
  --border-color-light: #4D4D4D33;
  --gutter-bg-light: #FBFBFB;

  --bg-color-dark: #4d4d4d;
  --text-color-dark: #ffffff;
  --container-bg-dark: #343434;
  --border-color-dark: #ffffff20;
  --gutter-bg-dark: #141414;
}

[data-theme='light'] {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --container-bg: var(--container-bg-light);
  --border-color: var(--border-color-light);
  --gutter-bg-color: var(--gutter-bg-light);
}

[data-theme='dark'] {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --container-bg: var(--container-bg-dark);
  --border-color: var(--border-color-dark);
  --gutter-bg-color: var(--gutter-bg-dark);
}



.gutter_background {
  background-color: var(--gutter-bg-color);
}
.main_container{
  padding: 20px 0 0 0;
  /* background-color: #7a7676; */
}

.group_container {
  background: var(--container-bg);
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 7px;
}

.group_flex {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
}

.link_container {
  width: 315px;
  /* background-color: var(--bg-color); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
}

.link_icon {
  color: #fff;
  height: 20px;
  width: 20px;
}

.channel_style{

  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 7px;
}

.channel_list {
  margin: 0 20px;
  background-color:  var(--container-bg);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.channel_item {
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

/* Hide the edit icon by default */
.channel_item .link_icon {
  opacity: 0; /* Initially hide the icon */
  transition: opacity 0.3s ease; /* Smooth transition */
}

/* Show the icon when hovering over the channel_item */
.channel_item:hover .link_icon {
  opacity: 0.6; /* Show icon at 60% opacity when hovering */
}

/* Increase opacity to 100% when hovering over the icon itself */
.channel_item:hover .link_icon:hover {
  opacity: 1; /* Full opacity on hover over the icon */
  transition: opacity 0.3s ease; /* Smooth transition */
}


.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-bottom-color: var(--text-color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}